*{
    box-sizing: border-box;
}

body{
    font-family: "Red Hat Text", sans-serif;
    font-size: 16px;
}

.container{
    border:1px solid red;
    max-width: 1440px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 30px;
}

.card p{
    margin:.5rem 0;
}

.menu-item{
    position: relative;
    /* border:10px dashed greenyellow; */
    width: fit-content;
    margin-bottom: 3rem;
}

.menu-item img{
    border-radius: 10px;
    max-width: 300px;
    width:100%;
}

.menu-item .cart-btn{
    border: 1px solid orange;
    display: flex;
    position: absolute;
    top:100%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    padding:.8rem 40px ;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: #fff;
    width:200px;
    font-weight: 600;
    /* height:100px; */
}

.menu-item .cart-btn:hover{
    cursor: pointer;
}

.menu-item .cart-btn img{
    max-width: 25px;
}

.food-description .food-type{
    color: hsl(14, 65%, 9%);
}

.food-name{
    font-weight: 700;
}

.price{
    font-weight: 600;
    color:hsl(14, 86%, 42%)
}